fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
pydantic-settings==2.7.1
openai==1.59.6
boto3>=1.39.12
python-multipart==0.0.20
pypdf==5.1.0
langchain-aws>=0.2.20
langchain-text-splitters>=0.3.5
langchain-openai>=0.3.0
